* {
  margin: 0;
  padding: 0;
}

.subject-overview_animation-area {
  background: linear-gradient(to left, #131313, #2b2828);
  width: 100%;
  justify-content: space-between;
}


.subject_overview-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 100%;
}


