.wip_center-img{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wip_center-content{
  justify-content: center;
}
.wip_dimensions-img{
  height: 350px;
  width: 350px;
}

.wip_margin-top{
  margin-top:25%;
}
.wip_text-center{
  text-align: center;
}