.about-me_title-text{
  display: block;
  width: 650px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  float: none;
  font-family: Circularpro, sans-serif;
  color: #787878;
  font-size: 20px;
  line-height: auto;
  font-weight: 400;
  text-align: left;
  letter-spacing: 4px;
  text-transform: uppercase;
}

