.color_footer-background{
  background: linear-gradient(to left, #000000, #211f1f);
}
.color_background {
  background: linear-gradient(to left, #131313, #222121);
}

.color_header-background {
  background: linear-gradient(to left, #000000, #211f1f);
}

.color_header-text {
  color: whitesmoke;
}