.utils_flex {
  display: flex;
}

.utils_column {
  flex-direction: column;
}

.utils_stretch {
  align-items: stretch
}

.utils_grid-layout-webpage {
  display: grid;
  height: 100vh;
  grid-template-rows: 7% auto 5%;
}
.utils_grid-layout-webpage-only-header {
  display: grid;
  height: 100vh;
  grid-template-rows: 7% 93%;
}


