.utils_flex {
  display: flex;
}

.utils_column {
  flex-direction: column;
}

.utils_stretch {
  align-items: stretch
}

.utils_Circularpro-font {
  //font-family: 'Baloo 2', cursive;
  font-family: 'Circularpro book', sans-serif;
  color: #fff;
  //font-size: 12px;
  //line-height: 60px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: none;
}

.utils_grid-layout-webpage {
  display: grid;
  height: 100vh;
  grid-template-rows: 7% auto 5%;
}


