.utils_flex {
  display: flex;
}

.utils_column {
  flex-direction: column;
}

.utils_stretch {
  align-items: stretch
}

.utils_baloo-font {
  font-family: 'Baloo 2', cursive;
}

.utils_grid-layout-webpage {
  display: grid;
  grid-template-rows: 5% auto 5%;
}


